{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
    <ul>
        <li><a href="{{ path('app_table') }}" id="lnk-table">View Table</a> </li>
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('app_clerk') }}" id="lnk-clerk">Add Toy Cars</a> </li>
            <li><a href="{{ path('app_logout') }}" id="lnk-logout">Logout</a> </li>
        {% else %}
            <li><a href="{{ path('app_register') }}" id="lnk-register">Register</a> </li>
            <li><a href="{{ path('app_login') }}" id="lnk-login">Login</a> </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
